<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringMvcProject">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringMvcProject</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringMvcProject/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringMvcProject" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Spring-4.3.14.RELEASE" />
          <element id="library" level="project" name="Spring MVC-4.3.14.RELEASE" />
          <element id="library" level="project" name="mysql:mysql-connector-java:8.0.9-rc" />
          <element id="library" level="project" name="mariadb-java-client-2.2.3" />
          <element id="library" level="project" name="org.springframework.security:spring-security-web:4.2.4.RELEASE" />
        </element>
      </element>
    </root>
  </artifact>
</component>